input,
button {
  display: inline-block;
}
input {
  height: 40px;
}
.inputsInListItem {
  position: absolute;
  background-color: white;
  z-index: 1;
  top: -5px;
  width: 90%;
}
.editableOn {
  display: none;
}
.tableHolder {
  position: relative;
}
.sums {
  position: absolute;
  bottom: 5px;
}
